$mainColor: #1c2d4f;
$hoverColor: #567cdc;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  .about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;

    @media screen and (min-width: 800px) {
        width: 500px;
      }
  }

  .about-list img {
    margin: 20px 0;
  }

  .cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainColor;
    font-size: large;
    margin: 20px 0 5px 0;
  }

  .cta-text h3 {
    margin: 20px 0;
  }

  .cta-text a button {
    background-color: $mainColor;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    font-size: medium;
  }

  .cta-text a button {
    text-decoration: none;
    color: #fff;
  }

  .cta-text button:hover {
    cursor: pointer;
    background-color: $hoverColor;
  }
}
